<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load custom_markdown %}
  <head>
      <title>Black &amp; White</title>

      <!-- meta -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/pace.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">

      <!-- js -->
      <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/pace.min.js' %}"></script>
      <script src="{% static 'js/modernizr.custom.js' %}"></script>
  </head>


  <body>
    <header class="navigation navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- /responsive nav button -->

          <!-- logo -->
          <a class="navbar-brand logo" href="index.html">
            <img src="{% static 'img/logo.png' %}" alt="Meghna" />
          </a>
          <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right">
          <ul id="nav" class="nav navbar-nav menu">
            <li class="current"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'full-width' %}">Archives</a></li>
            <li><a href="{% url 'about' %}">Tags</a></li>
            <li><a href="{% url 'contact' %}">Categories</a></li>
            <li><a href="#">Search</a></li>
          </ul>
        </nav>
        <!-- /main nav -->
      </div>
    </header>

            <div id="header-search-box">
              <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
              <div id="search-form" class="search-form">
                <form role="search" method="get" id="searchform" action="#">
                  <input type="search" placeholder="Search" required>
                  <button type="submit"><span class="ion-ios-search-strong"></span></button>
                </form>
              </div>
            </div>

    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

    <div class="content-body">
      <div class="container">
        <div class="row">
          <main class="col-md-8">
            <article class="post post-1">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="single.html">Git命令清单</a>
                </h1>
                <div class="entry-meta">
                  <span class="post-category"><a href="#">Web Design</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

                  <span class="post-author"><a href="#">Albert Einstein</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="entry-content clearfix">
                <p>四、代码提交
提交暂存区到仓库区$ git commit -m [message]
提交暂存区的指定文件到仓库区$ git commit [file1][file2]...-m [message]
提交工作区自上次commit之后的变化，直接到仓库区$ git commit -a
提交时显示所有diff信息$ git commit -v
使用一次新的commit，替代上一次提交
如果代码没有任何新变化，则用来改写上一次commit的提交信息$ git commit --amend -m [message]
重做上一次commit，并包括指定文件的新变化$ git commit --amend [file1][file2]...
</p>
                <div class="read-more cl-effect-14">
                  <a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                </div>
              </div>
            </article>

            <article class="post post-2">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="single.html">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
                </h1>
                <div class="entry-meta">
                  <span class="post-category"><a href="#">Web Design</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

                  <span class="post-author"><a href="#">Albert Einstein</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="entry-content clearfix">
                <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
                <div class="read-more cl-effect-14">
                  <a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                </div>
              </div>
            </article>

            <article class="post post-3">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="single.html">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
                </h1>
                <div class="entry-meta">
                  <span class="post-category"><a href="#">Web Design</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

                  <span class="post-author"><a href="#">Albert Einstein</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="entry-content clearfix">
                <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
                <div class="read-more cl-effect-14">
                  <a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                </div>
              </div>
            </article>

            <article class="post post-4">
              <header class="entry-header">
                <h1 class="entry-title">
                  <a href="single.html">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
                </h1>
                <div class="entry-meta">
                  <span class="post-category"><a href="#">Web Design</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a></span>

                  <span class="post-author"><a href="#">Albert Einstein</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="entry-content clearfix">
                <p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
                <div class="read-more cl-effect-14">
                  <a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
                </div>
              </div>
            </article>
          </main>
          <aside class="col-md-4">
            <div class="widget widget-recent-posts">
              <h3 class="widget-title">Recent Posts</h3>
              <ul>
                <li>
                  <a href="#">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
                </li>
                <li>
                  <a href="#">Web Design is 95% Typography</a>
                </li>
                <li>
                  <a href="#">Paper by FiftyThree</a>
                </li>
              </ul>
            </div>
            <div class="widget widget-archives">
              <h3 class="widget-title">Archives</h3>
              <ul>
                <li>
                  <a href="#">November 2014</a>
                </li>
                <li>
                  <a href="#">September 2014</a>
                </li>
                <li>
                  <a href="#">January 2013</a>
                </li>
              </ul>
            </div>

            <div class="widget widget-category">
              <h3 class="widget-title">Category</h3>
              <ul>
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <a href="#">SEO</a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright">&copy; 2014 ThemeWagon.com -More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Mobile Menu -->
    <div class="overlay overlay-hugeinc">
      <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="full-width.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
