{% extends 'base.html' %}
{% load static %}
{% block context %}
<div class="col-md-8 col-md-offset-2">
        <table class="table table-hover table-responsive">

          <thead>
            <th>标题</th>
            <th>时间</th>
            <th>分类</th>
          </thead>

          <tbody>
            {% for blog in blogs %}
              <tr>
                <td><a href="{% url 'single' blog.id %}"><strong>{{ blog.title |safe }}</strong></a></td>
                <td>{{ blog.date_created | date:"Y /m /d" }}</td>
                <td>{{ blog.category.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright">&copy; 2014 ThemeWagon.com</p>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}
