{% extends 'base.html' %}
{% load static %}
{% load custom_markdown %}

{% block context %}
  <body>
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <main class="col-xs-12 col-sm-6 col-md-8">
          {% for blog in blogs %}
            <article class="post post-1">
              <header class="entry-header">
                <h1 class="entry-title col-xs-12 col-sm-6 col-md-8">
                  <a href="{% url 'single' id=blog.id %}">{{ blog.title }}</a>
                </h1>
                <div class="entry-meta col-xs-12 col-sm-6 .col-md-8 col-md-offset-1">
                  <span class="post-category"><a href="#">{{ blog.category.name }}</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date">{{ blog.date_created | date:"Y /m /d" }}</time></a></span>

                  <span class="post-author"><a href="#">贾利欣</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="col-xs-12 col-sm-6 col-md-8">
                {{ blog.context | safe |truncatechars:100 }}
                <div class="read-more cl-effect-14">
                  <a href="{% url 'single' id=blog.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
              </div>
            </article>
            {% endfor %}
          </main>
          <aside class="col-xs-6 col-md-4">
            <div class="widget widget-recent-posts">
              <h3 class="widget-title">最近发表</h3>
              <ul>
              {% for blog in blogs %}
                <li>
                  <a href="{% url 'single' blog.id%}">{{ blog.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="widget widget-archives">
              <h3 class="widget-title">Archives</h3>
              <ul>
                <li>
                  <a href="#">November 2014</a>
                </li>
                <li>
                  <a href="#">September 2014</a>
                </li>
                <li>
                  <a href="#">January 2013</a>
                </li>
              </ul>
            </div>

            <div class="widget widget-category">
              <h3 class="widget-title">Category</h3>
              <ul>
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <a href="#">SEO</a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        </div>
      </div>
    </div>
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright">&copy;  <a href="http://www.miitbeian.gov.cn/" target="_blank" title="模板之家">京ICP备16047793号</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
