{% extends 'base.html' %}
{% load static %}
{% load custom_markdown %}
{% block context %}


  <body id="single">
          <div class="row">
          <main class="col-md-8 col-md-offset-2">
            <article class="post post-1">
              <header class="entry-header">
                <h1 class="entry-title"><strong>{{ blog.title }}</strong></h1>
                <div class="entry-meta">
                  <span class="post-category"><a href="#">{{ blog.category.name }}</a></span>

                  <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{ blog.date_created }}</time></a></span>

                  <span class="post-author"><a href="#">贾利欣</a></span>

                  <span class="comments-link"><a href="#">4 Comments</a></span>
                </div>
              </header>
              <div class="entry-content clearfix">
                {{ blog.context | custom_markdown }}
              </div>
            </article>
          </main>
          </div>
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright">&copy; </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
{% endblock %}